---
import MainLayout from "../../layouts/MainLayout.astro";
import { getPosts } from "../../lib/api";
import { formatDate } from "../../js/utils";
import readingTime from "reading-time";

export async function getStaticPaths() {
  const data = await getPosts();
  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}
const { post } = Astro.props;

const stats = readingTime(post.content.rendered);
---

<MainLayout title={post.title.rendered}>
  <article class="page-content">
    <div class="post-header">
      <h1 set:html={post.title.rendered} />
      <p>Published {formatDate(post.date)}</p>
      <p>{stats.text}</p>
    </div>
    <Fragment set:html={post.content.rendered} />
    <div class="comments">
      <h1>Thoughts? Leave a comment!</h1>
      <div id="cusdis_thread"
        data-host="https://cusdis.com"
        data-app-id="f66d2427-2b0f-44b3-afa1-9e7b05149362"
        data-page-title={post.title.rendered}
        data-page-id={post.id}
      >
    </div>
  </article>
</MainLayout>
<script async src="https://cusdis.com/js/cusdis.es.js"></script>
<script>
  window.addEventListener('load', function () {
    console.log('loaded')
    let iframe = document.querySelector("#cusdis_thread iframe");
    console.log('iframe', iframe)
    if (iframe) {
      console.log('iframe exists')
        let observer = new MutationObserver(() => {
            let scrollHeight = iframe.contentWindow.document.body.scrollHeight;
            console.log(scrollHeight)
            iframe.style.height = scrollHeight + "px";
        });
        observer.observe(iframe.contentWindow.document.body, { childList: true, subtree: true });
    }
});
</script>
<style>
  .comments {
    padding-top: 2rem;
  }
  .post-header {
    text-align: center;
  }
</style>
<!-- <script define:vars={{ post }}>
  console.log(typeof post.content.rendered);
</script> -->