---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import { fetchAPI } from "../../lib/api";
import PreviewPage from "../../layouts/PreviewPage.astro";
import bbCover from "../../images/Cover-Art-V3-logo.png";
import { Image } from 'astro:assets';
import { Carousel } from 'astro-carousel';
import type { ComponentProps } from "astro/types";

const data = await fetchAPI("pages?_embed");
const images: ComponentProps<typeof Carousel>["images"] = [
  {
    src: "https://i.postimg.cc/DyC0n1cW/Hokkaido-Milk-Tea-Jelly.jpg",
    alt: "Illustration of a girl wearing a Hokkaido Milk Tea Jelly inspired outfit. She is summoning a cup of milk tea.",
    format: "webp",
    width: 2550,
    height: 3300,
    widths: [450, 675, 1350],
  }, 
  {
    src: "https://i.postimg.cc/KvJHv8wG/strawberry_matcha_boba_design.png",
    alt: "Illustration of a girl wearing a Hokkaido Milk Tea Jelly inspired outfit. She is summoning a cup of milk tea.",
    format: "webp",
    width: 2550,
    height: 3300,
    widths: [450, 675, 1350],
  }, 
  {
    src: "https://i.postimg.cc/dVNpnVj5/moonwavy.png",
    alt: "Illustration of a girl wearing a Hokkaido Milk Tea Jelly inspired outfit. She is summoning a cup of milk tea.",
    format: "webp",
    width: 2480,
    height: 3508,
    widths: [450, 675, 1350],
  }, 
  {
    src: "https://i.postimg.cc/4N5r75KL/moon1.png",
    alt: "Illustration of a girl wearing a Hokkaido Milk Tea Jelly inspired outfit. She is summoning a cup of milk tea.",
    format: "webp",
    width: 2480,
    height: 3508,
    widths: [450, 675, 1350],
  }, 
  {
    src: "https://i.postimg.cc/TP4xyc4z/Apollo_And_Athena.png",
    alt: "Illustration of a girl wearing a Hokkaido Milk Tea Jelly inspired outfit. She is summoning a cup of milk tea.",
    format: "webp",
    width: 3508,
    height: 2480,
    widths: [450, 675, 1350],
  }, 
  {
    src: "https://i.postimg.cc/HspNgySw/IMG_0030.png",
    alt: "Illustration of a girl wearing a Hokkaido Milk Tea Jelly inspired outfit. She is summoning a cup of milk tea.",
    format: "webp",
    width: 3300,
    height: 2550,
    widths: [450, 675, 1350],
  }, 
  {
    src: "https://i.postimg.cc/kXY3BGSZ/Love-Game-Eastern-Fantasy.png",
    alt: "A man and woman dressed in a fantasy-style Chinese hanfu clothing are looking up at a floating wooden toy, surrounded by flowers.",
    format: "webp",
    width: 3300,
    height: 1857,
    widths: [450, 675, 1350],
  }, 
];
---

<MainLayout title="Works">
  <Carousel images={images} />
  <section class="post">
    <h1 class="page-title heading">WORKS</h1>
    <h2>PROJECT BLOG</h2>
    <div class="page-container">
      {
        data.map((page) => (
          <div class="page-grid">
            <PreviewPage page={page} />
          </div>
        ))
      }
    </div>
    <h2>SITES</h2>
    <div class="page-container">
      <a href="https://burnbrightlycomic.com" target="_blank"><Image id="bb-cover" class="bb-cover" src={bbCover} alt="a drawing of a girl looking over her shoulder while walking" width={250}/></a>
    </div>
    <h2>ILLUSTRATION</h2>
    <div class="page-container">
      <ul id="carouselTargetList">
        {images.map((img, index) => {
          return (
            <li>
              <a
                href={`/?image=${index}`}
                data-carousel-index={index}
              >
                <img
                  src={img.src}
                  alt=""
                />
              </a>
            </li>
          );
        })}
        </ul>
    </div>
  </section>
</MainLayout>
<style>
  img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
  }

  #carouselTargetList {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .bb-cover {
    border: 1px solid;
    border-color: orange;
    border-radius: 10px;
  }
  .bb-cover:hover {
    opacity: 70%;
    transition: 0.2s ease-in-out;
  }
  .page-title {
    text-align: center;
  }
  li {
    display: inline-block;
    list-style-type: none;
  }
  .page-container {
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }
  .page-grid {
    visibility: hidden;
    padding-bottom: 2rem;
  }
  @media screen and (max-width: 340px) {
    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
  @media screen and (max-width: 640px) {
    .page-container {
      flex-wrap: wrap;
    }
    .heading {
      font-size: 40px;
    }
  }
</style>
<script>
  import { gsap } from "gsap";
  var t1 = gsap.timeline();
  t1.from(".page-grid", { opacity: 0, duration: 1, autoAlpha: 0 });
</script>
